# Ignore data and report directories
/data/raw/mainpipe_data_v1.jsonl
/data/cleaned/cleaned_csv_test_tokens.npy
/data/cleaned/cleaned_csv_test.JSONL

# Ignore virtual environment
/venv/

# Ignore Jupyter notebooks in mainpipe/mAlbany
/mainpipe/mAlbany/*.ipynb

# Ignore temporary or cache files
*.pyc
__pycache__/
.ipynb_checkpoints/
.env

# ignore report
Report.docx
Report.pdf